<div class="nested-fields">
  <div class="field">
    <%= f.label :name %><br>
    <%= collection_select(:recipe_ingredients, :id, @ingredients, :id, :name) %><br>
  </div>

  <%= link_to_remove_association "remove ingredient", f %>

</div>
