<% if @available_recipes.any? %>
  <h2>These are recipes you can cook with the ingredients in your cupboard!</h2>

  <div class="container">
    <div class="row">


    <% @available_recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="recipe-box">
          <% if recipe.image? %>
            <%= link_to (image_tag recipe.image.url, class: "recipe-index"), recipe %>
          <% end %>
            <h3><%= link_to recipe.title, recipe %></h3>
            <%= recipe.description %><br>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <% else %>
  <h2>No recipes match your ingredients! You will need to add ingredients to your cupboard.</h2>
  <%= link_to('Click Here to see your Cupboard', user_path(current_user.id), class: "btn btn-primary") %>
<% end %>
