<% if user_signed_in? %>
  <div class="button-container">
    <%= link_to "Click Here to Make a New Ingredient", new_ingredient_path, class: "btn btn-primary btn-block" %><br>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <% @ingredients.each do |ingredient| %>
      <div class="col-md-4">
        <div class="ingredient-box">
          <%= link_to ingredient.name, ingredient %>
            <% if current_user && recipe.user_id == current_user.id %>
          <%= link_to "Edit", "/ingredient/#{ingredient.id}/edit", class: "btn btn-default btn-xs" %>
          <%= link_to "Delete", "/ingredients/#{ingredient.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
