/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

img.recipe-show {
  width: 400px;
  height: auto;
}

body {
  margin-left: 2em;
}

nav {
  margin-left: -2em;
}

.navbar {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  min-height:16px !important;
}

.navbar-nav > li > a {padding-top:0em !important; padding-bottom:0em !important;}


ol {
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
}

li:before {
    content: "Step " counter(elementcounter) ". ";
    counter-increment:elementcounter;
}
